:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 4em;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.output_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-wrap: wrap;
  flex-basis: 400px;
}

#output2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}